/*  your css code here. If applicable */
.testimonials-container {
    background-color: #f5f5f5;
    padding: 40px;
}

.testimonial {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}


.text {
    font-size: 16px;
    line-height: 1.5;
}


.author {
    text-align: right;
    font-style: italic;
    margin-top: 10px;

