.testimonials-container {
    background-color: #f5f5f5;
    padding: 40px;
}

.testimonial {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.author {
    text-align: right;
    font-style: italic;
    display: block;
    margin-top: 10px;
}
